<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script
	src="angular/app.js"></script>
<script
	src="angular/controllers/indexController.js"></script>
<title>Mathematical demo</title>
</head>
<body data-ng-app="mathematicalDemoApp" ng-controller="indexController" style="margin-top: 50px;">

	<div class="container">

		<h5><b>Select the operation you want to perform</b></h5>
		<div class="col-xs-12" style="padding-left: 0px;">
			<div class="form-group col-xs-3">
				<label for="operation">Select operation:</label> <select
					class="form-control" id="operation" ng-model="operation" ng-change="setOperandInput();">
					<option value="addition">addition</option>
					<option value="subtraction">subtraction</option>
					<option value="multiplication">multiplication</option>
					<option value="division">division</option>
					<option value="square">square</option>
				</select>
			</div>
		</div>
		<div class="col-xs-3" ng-show="op01">
			<label for="op01">Enter the first operand : <input
				type="text" id="op01" class="form-control" style="width: auto;" ng-model="operand1">
			</label>
		</div>
		<div class="col-xs-3" ng-show="op02">
			<label for="op02">Enter the second operand</label> <input type="text"
				id="op02" class="form-control" style="width: auto;"ng-model="operand2">
		</div>
		<div class="col-xs-12" style="padding-top: 20px;" ng-show="op01" ng-click="calculate()">
			<button type="button" id="exampleForm2" class="btn btn-primary"
				style="width: auto;">Submit</button>
		</div>
		
		<div class="col-xs-3" ng-show="result">
			<h5><b>Result = {{output}}</b></h5>
		</div>
	</div>




</body>
</html>